<div class="card-deck">
  <% posts.each do |post| %>
  <div class="card mb-3 mt-3 ml-5 mr-4" style="min-width: 300px; max-width: 300px">
    <div class="card-body pr-5 pl-0">
        <li class="media list-unstyled">
          <div class="media-body haiku">
            <div>
              <p><%= simple_format(post.content, sanitize: true) %></p>
            </div>
            </div>
          </div>
          <div class="ml-1">タグ：
          <% post.tags.each do |tag| %>
            <%=link_to tag.tag_name, tag_path(tag) %>
          <% end %>
          </div>
            <div>
              <p class="text-center">UserName : <%= link_to  post.user.name, user_path(post.user) %></p>
            </div>
            <span class="text-muted text-center"><%= l post.created_at %></span>
            <div class="btn-toolbar">
              <div class="btn-group mt-2">
                <% if current_user == post.user %>
                  <%= link_to '編集', edit_post_path(post), class: 'btn btn-primary' %>
                  <%= link_to '削除', post, method: :delete, data: { confirm: "本当に削除してもよろしいですか?" }, class: 'btn btn-danger' %>
                <% end %>
                <%= render 'favorites/favorite_button', post: post %>
                <div class="mt-1 mr-1 align-items-center font-weight-normal">
                <%= post.favorites.count %>
                </div>
              </div>
        </li>
    </div>
  </div>
  <% end %>
</div>
