<div class="card-deck">
  <% posts.each do |post| %>
  <div class="card mb-3 mt-3 ml-5 mr-4" style="min-width: 300px; max-width: 300px">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image cap</text></svg>
    <div class="card-body">
      <ul class="list-unstyled">
        <li class="media mb-3">
          <div class="media-body">
            <div>
              <p class="text-center"><%= link_to  post.user.name, user_path(post.user) %></p>
            </div>
            <div>
              <p><%= post.content %></p>
            </div>
            <span class="text-muted">posted at <%= post.created_at %></span>
            <div>
            <% if current_user == post.user %>
              <%= link_to "Delete", post, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
            <% end %>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <% end %>
</div>
<%= paginate posts %>