<h1 class="text-center mt-3">【作品投稿ページ】</h1>
<% if logged_in? %>
  <div class="mt-5 mb-5 bg-white">
    <%= form_with(model: @post, local: true) do |f| %>
      <div class="form-group">
        <div class="text-center mb-3 pt-3">
        <%= f.file_field :image %>
        </div>
        <%= f.text_area :content,value: '【作品タイトル】', class: 'form-control', rows: 5 %>
      </div>
      <div class="posting">
      <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
      </div>
    <% end %>
  </div>
  <% else %>
  <%= render '/login' %>
<% end %>